@import "tailwindcss";

@theme {
	--color-primary: #ea642b;
	--color-primary-50: rgba(234, 100, 43, .1);
	--color-primary-500: rgba(234, 100, 43, .5);
	--color-text: #27272A;
	--color-bg-color: #eee;
}

body {
	background-color: #eee;
	width: 100vw;
	overflow-x: hidden !important;
	font-family: 'Jost', sans-serif;
}

.ql-container {
	border: none !important;
}

.ql-toolbar {
	border: none !important;
}

.ql-editor {
	border: none !important;
}



.animatedButton {
	animation-duration: 10000ms;
}